video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1, h2, h3, input, p {
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
 font-weight: 50px;
  font-size: 30px;
}

h1 {
  font-weight:bolder;
   font-size: 60px;
 }

.App {
  background-color: rgba(196, 243, 156, 0.5);
}

.container {
  display: flex;
 justify-content: center;
}


.search {
width: 100%;
padding:10px;
font-size: 18px;
line-height: 15px;
color: #033712;
background-color: transparent;
margin-left: 0px;
}

ul {
  padding: 2px;
}

li, p {
  display: block;
  padding: 5px;
  background: #f1f0f4;
}


